/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 27px;
    line-height: 2;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #222;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/* 
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}





/* **** gherget **** */

h1, h2, h3 {
    width: 750px;
    margin: 40px auto;
    line-height: 150%;
    font-weight: normal;
}
h2  {
    font-size: 1.85em;
}

a {
    color: #9952e0 ;
    text-decoration: none; 
}
a:hover {
    text-decoration: underline; 
}

section {
    text-align: center;
    width: 100%;
    display: block;
    position: relative;
    background: #fafafa;
    padding: 150px 0; 
    margin: 0 0 20px 0;
}

p, ol, ul, b, cite, table, div {
 
    width: 800px;
    margin: 8% auto;
    line-height: 170%;
} 

ol, ul {
    width: 550px;
    text-align: center;
    font-size: 0.9em;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    background: #f6f6f6;
    padding: 1.5em; 
    margin: 3em auto;
}
ol li {
    counter-increment: my-awesome-counter;
    padding: 4.5em 1em 2.5em 1em;
}
ol li::before {
    content: "0" counter(my-awesome-counter);
    font-size: 2em;

    left: 50%;
    margin-top: -1.5em;
    margin-left: -0.5em;
    position: absolute;
}
  

blockquote{
    display: inline;
    border-radius: 10px;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(330deg,  #9952e0 15%, #e05252 100%);
    padding: 8px 18px;
}

cite {
    font-size: 0.65em;
    display: block;
}

.redblock {  background-color: #4a1112; color:#e0cacb;}
.redblock h2 {
    background: linear-gradient(330deg,  #9952e0 15%, #e05252 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blueblock {  background-color: #15114a; color:#8b99ec;}
.blueblock h2 {
    background: linear-gradient(150deg,  #b54afc 15%, #2ea1ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.greenblock {  background-color: #114a19; color:#8bec90;}
.greenblock h2 {
    background: linear-gradient(150deg,  #a2e03e 15%, #2ce2bb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


table {
    font-size:  0.85em;
    margin: 6% auto 10% auto;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; 
}
th:first-child,
td:first-child {
    padding-left: 0; 
}
th:last-child,
td:last-child {
    padding-right: 0; 
}

.ct-chart-pie .ct-label {
    fill: #f4f4f4;
    font-size:  0.9em;
}



 @media (max-width: 992px) {
    body {font-size: 45px;}
    
    section {padding: 15% 0;}

    h1, h2, h3 {
        width: auto;
        padding: 0 80px;
    }

    h2  {font-size: 1.3em;}

    p, ol, ul {
        padding: 0 80px;
    } 
} 

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles */
    .redblock h2, .blueblock h2, .greenblock h2  {
        background: none;
    }

}


